@import url('https://fonts.googleapis.com/css?family=Aclonica');

html {
  font-family: 'Aclonica', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.character-board {
  position: absolute;
  width: 100%;
  height: 180px;
}

header {
  position: relative;
  text-transform: uppercase;
  color: #515ca4;
  z-index: 100;
}

.character-board img {
  position: relative;
  top: -50px;
}

.character-board img:hover {
  cursor: pointer;
  background: url(../images/Selector.png) no-repeat;
}

canvas {
  margin-top: 150px;
}
